@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
:root {
  --primary: #166ae8;
}
body {
  padding: 0;
  margin: 0 20px;
  font-family: 'Quicksand', sans-serif;
  color: #444;
  background: #f2f2f2;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* navbar */
nav {
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
}
nav div:first-child{
  display: flex;
  align-items: center;
}
nav h1 {
  margin-left: 10px;
}
nav ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 16px;
}
nav li.bold{
  font-weight: 600;
}
nav li.btn {
  padding: 10px 16px;
  border: 2px solid var(--primary);
  border-radius: 30px;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
}
nav li.btn:hover {
  color: white;
  background: var(--primary);
}
nav li.red {
  padding: 10px 16px;
  border: 2px solid red;
  border-radius: 30px;
  font-weight: 600;
  color: red;
  cursor: pointer;
}
nav li.red:hover {
  color: white;
  background: red;
}
.bars{
  display: none;
}

/* banner */
.banner img {
  border-radius: 6px;
}
@media screen and (max-width:800px) {
  nav {
    position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .bars{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 11;
  }
  .bar-1,.bar-2,.bar-3{
    background-color: black;
    width: 32px;
    height: 3px;
    border-radius: 1rem;
  }
  .bar-2{
    margin: 5px 0;
  }
  nav ul{
    display: flex;
    align-items: flex-end;
    line-height: 2rem;
    margin: 0;
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(248, 252, 251, 0.911);
    transform: translateX(1000%);
    flex-direction: column;
    width: fit-content;
    box-shadow: 5px 10px #166AE9;
  }
  nav ul li{
    margin-top: 5rem;
    margin-right: 1rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  }
  .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .bars.active .bar-2{
    opacity: 0;
  }
  .bars.active .bar-1{
    transform: rotate(-45deg) translate(-10px);
  }
  .bars.active .bar-3{
    transform: rotate(45deg) translate(-12px);
  }
  .bars.active+ul{
    transform: translateX(0);
  }


  
}
